/*
.dropsearch-container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    gap: 1rem; 
    margin: 1rem 0; 
}
*/
/* Responsiveness*/
@media (max-width: 768px) {
    .dropsearch-container {
        flex-direction: column; /* Stacks items on smaller screens */
        gap: 0.5rem;
    }
}