
/* Responsive Design */
@media (min-width: 1024px) {
  .portalGridWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1024px) {
  .portalGridWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .portalGridWrapper {
    grid-template-columns: 1fr;
  }
}


