/* ActivityTile.css */
.activity-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 10px;
  max-width: 100%;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.activity-tile:hover {
  transform: translateY(-5px);
}

.activityTileWrapper:hover {
  filter: drop-shadow(0 0 1em #646cffaa);
}
.activity-tile img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 12px;
}

.activity-tile-buttons {
  margin-top: 16px;
  display: flex;
  gap: 10px;
}

.activity-tile-buttons button {
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.activityDescription {
  max-height: 100px; /* Adjust the height as needed */
  overflow-y: auto;  /* Enables vertical scrolling */
  padding: 8px; /* Optional: Adds some spacing */
  text-align: center; /* Centers text */
}

/* Hides scrollbar for Webkit browsers (Chrome, Safari, Edge) */
.activityDescription::-webkit-scrollbar {
  display: none;
}
