/* responsive for monitors */
@media (min-width: 1024px){
  .gridContainer {
    display: grid; /* Activate grid layout */
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr)); /* Define columns */
    gap: 3vw; /* Add spacing between grid items */
    padding: 3vw; /* Optional: Add padding around the grid */
  }  
}

.cateSearch-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.dropdown-container {
  display: flex; /* Align the dropdowns horizontally */
  gap: 10px; /* Add space between the dropdown menus */
}

/* Responsiveness for dropMenu & searchBar */
@media (max-width: 768px) {
  .dropsearch-container {
    flex-direction: column; /* Stacks items on smaller screens */
    gap: 0.5rem;
  }
}
