/*.portalList {
  list-style-type: none;
}

.portalList:hover{
  cursor: pointer;
}

.editableByCurrentUser {
  font-weight: bold;
}
/* .editableByCurrentUser:hover {
  cursor: pointer;
} */

..portalListItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .4vh;
  margin: 1vh;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

..portalListItem:hover {
  background-color: var(--button-hover-bg, #424242); /* Darker blue on hover */
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

