.dropMenu {
  position: relative;
  display: inline-block;
}

.dropContent {
  display: none;
  position: absolute;
  z-index: 1;
  width: 8vw;
  background: linear-gradient(90deg, #1de9b6,rgb(8, 39, 43)); /* Teal to Blue Gradient */
  color: black;  /* Ensures text pops with black */
  border-radius: 8px;
}

.dropMenu:hover .dropContent {
  display: block;
  cursor: pointer;
}

.dropMenuButton {
  text-decoration: none;
}